// * [ [ [ _blur.scss ] ] ]
// This is the file for various types of coverings to prevent interaction with buttons or other page elements

div#full_blur{
    display: none;
    &.active{
        display: block;
    }

    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    width: 100%;
    height: 100%;

    overflow: hidden;
}