// * [ [ [ _colors.scss ] ] ]
//  This is the file where I define the color palette for the website.

// * [ Main Colors ]
$main_nearblack: #400B06;
$main_dark: #732412;
$main: #BF3E21;
$main_light: #CAA287;
$main_pale: #BFBCBA;

// * [ Link Colors ]
$link_dark: #0B402C;
$link: #007349;
$link_light: #5FCAA3;

// * [ Individual Page Colors ]
$front_main: #2F590F;
$front_accent: #5C972E;

$about_main: #93002A;
$about_accent: #DA0743;

$port_main: #568792;
$port_accent: #CCEEF6;

$project_main: #6F4400;
$project_accent: #B4781A;

// * [ Basic Colors ]
$black: #000000;
$white: #ffffff;