// * [ [ [ _colors.scss ] ] ]
//  This is the file where I define the color palette for the website.

// * [ Main Colors ]
$main_nearblack: #0D0B07;
$main_dark: #262117;
$main: #594A38;
$main_light: #F2D399;
$main_pale: #D9C6B0;

// * [ Link Colors ]
$link_dark: #59150E;
$link: #BF3E21;
$link_light: #CA725F;

// * [ Individual Page Colors ]
$front_main: #2F590F;
$front_accent: #5C972E;

$about_main: #93002A;
$about_accent: #DA0743;

$port_main: #568792;
$port_accent: #CCEEF6;

$project_main: #6F4400;
$project_accent: #B4781A;

// * [ Basic Colors ]
$black: #000000;
$white: #ffffff;