// * [ [ _fonts.scss ] ]
// This is a file where I define the fonts, as mixins for convenience

// * [ Custom Fonts ]
@font-face {
    font-family: 'Alexandria';
    src:
        url('./fonts/alexandria_ff.woff2') format('woff2'),
        url('./fonts/alexandria_ff.woff') format('woff'),
        url('./fonts/alexandria_ff.ttf') format('truetype')
    ;
    font-display: optional;
}

// * [ Basic fonts ]
@mixin font_header{
    font-family: 'Alexandria', monospace;
    font-weight: 900;
}
@mixin font_body{
    font-family: 'Xanh Mono', monospace;
}
@mixin font_code{
    font-family: 'Fira Code', monospace;
}
@mixin font_small{
    font-family: 'Bitter', serif;
    font-weight: bold;
}