// * [ [ [ images.scss ] ] ]
// This is the folder where we define variables for images

// * [ Backgrounds ]
// Dithering patterns, splash images, icons, etc
// * Dithers
$dither_medium_black: url('../images/dithers/dither_medium_black.png');
$dither_medium_white: url('../images/dithers/dither_medium_white.png');
$dither_vertical_black: url('../images/dithers/dither_vertical_black.png');
$dither_vertical_white: url('../images/dithers/dither_vertical_white.png');
$dither_horizontal_black: url('../images/dithers/dither_horizontal_black.png');
$dither_horizontal_white: url('../images/dithers/dither_horizontal_white.png');