// * [ [ [ _main.scss ] ] ]
// The basic styles for the layout of a page, and content within the page.

// * [ General Layout ]
main{
    width: 100%;
    min-height: 150vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: $main_dark;

    header{
        z-index: 100;
    }
    main{
        z-index: 50;
    }
    #background{
        z-index: 5;
    }
}

// * [ Content Block ]
article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 800px;
    margin: 20px;

    background-color: $main;

    perspective: 1000px;

    section.header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h1{
            margin-left: 24px;
            display: block;
            box-shadow: -1px -1px 0px $main_dark;
            padding: 12px;
            width: 100%;
        }
        span.small{
            width: 95%;
            text-align: right;
            display: block;
            box-shadow: 1px 1px 0px $main_dark;
            padding: 12px;
            margin: 0 24px 24px -4px;
        }
    }
    section.body{
        width: 600px;
    }

    // * [ Content Styles ]
    h1{
        color: $black;
        text-shadow: -4px -4px 0px $main_pale;
    }
    h2{
        color: $main_dark;
        text-shadow: -2px -2px 0px $main_light;
    }
    h3{
        color: $main_dark;
        text-shadow: -2px -2px 0px $main_light
    }
    h4{
        color: $main_dark;
        text-shadow: -1px -1px 0px $main_light;
    }
    p{
        color: $white;
        text-shadow: -2px -2px 0px $black;
        text-align: justify;
    }
    pre{
        background-color: $black;
        color: $white;
        padding: 20px;
        border-radius: 10px;
        width: 90%;
    }
    blockquote{
        display: block;
        width: 500px;
        border-left: 2em solid $main_dark;
        background-color: $main_light;
        padding: 24px;

        color: $main_dark;
        text-shadow: -2px -2px 0px $black;
    }
}