// * [ [ [ _text.scss ] ] ]
// This is the file for styles of text. Specifically, assigning fonts and sizes, NOT color.
// That is assigned at the element level, so as to match the specific context in which the text appears.

// * [ Fonts ]
h1, h2, h3, h4{
    @include font_header;
}
p, span, li, a, label, input, button{
    @include font_body;
}
code, pre{
    @include font_code;
}
.small, blockquote{
    @include font_small;
}

// * [ Sizing and Spacing ]
h1{
    font-size: 3em;
    margin: 20px 0 8px 4px;
}
h2{
    font-size: 2.5em;
    margin: 20px 0 20px 8px;
}
h3{
    font-size: 2em;
    margin: 20px 0 20px 12px;
}
h4{
    font-size: 1.75em;
    margin: 20px 0 20px 16px;
}
p{
    font-size: 1.25em;
    margin: 12px 0 12px 0;
    line-height: 1.6em;
}
pre{
    font-size: 1.4em;
    margin: 24px;
}
blockquote{
    margin: 24px;
    font-size: 1.5em;
    line-height: 1.75em;
}
.small{
    font-size: 0.75em;
}

// * [ Links]
p a{
    text-decoration: dotted underline;
    color: $white;
    text-shadow: -2px -2px 0px $link;
    &:hover, &:focus, &:focus-within{
        color: $black;
        text-decoration-color: $black;
        background-color: $main_dark_invert;
        text-shadow: -2px -2px $link_invert;
    }
    &:active{
        color: $link;
    }
}

// * [ Selection ]
::selection{
    color: $main_pale;
    background-color: $black;
    text-shadow: none;
}
a::selection{
    color: $main_nearblack;
    background-color: $link;
}
pre::selection, code::selection{
    color: $black;
    background-color: $white;
}