// * [ [ [ _text.scss ] ] ]
// This is the file for styles of text. Specifically, assigning fonts and sizes, NOT color.
// That is assigned at the element level, so as to match the specific context in which the text appears.

// * [ Fonts ]
h1, h2, h3, button{
    @include font_header;
}
p, span, li, a, label, input{
    @include font_body;
}
code, pre{
    @include font_code;
}
.small{
    @include font_small;
}

// * [ Sizing and Spacing ]
h1{
    font-size: 3em;
    margin: 20px 0 20px 4px;
}
p{
    font-size: 1.25em;
    margin: 12px;
    line-height: 1.6em;
}
pre{
    font-size: 1.4em;
    margin: 24px;
}
.small{
    font-size: 0.75em;
}

// * [ Links]
p a{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid $link;
    text-shadow: 2px 2px 0px $link_light;
    &:hover, &:focus, &:focus-within, &:active{
        border-bottom: 2px solid $white;
        color: $link_light;
        background-color: $link_dark;
        text-shadow: none;
    }
}

// * [ Selection ]
::selection{
    color: $main_pale;
    background-color: $black;
    text-shadow: none;
}
a::selection{
    color: $main_nearblack;
    background-color: $link;
}
pre::selection, code::selection{
    color: $black;
    background-color: $white;
}